# linux

release-i386/

# windows

Release/
WinQuake.ncb
WinQuake.opt
WinQuake.plg
data/
docs/
dxsdk/
gas2masm/
kit/
scitech/

# perl script

*.tlog
*.log
*.obj
*db
.suo
/Manquake/Debug
Manquake.vcxproj.user
*.aps
*.res
/Manquake/Binary
